# Python cache
__pycache__/
*.py[cod]
.vscode/

# Virtual environment
venv/
.env

# Data files
data/raw/
data/processed/
data/external/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# MacOS specific
.DS_Store

